

    <div class="jumbotron">
        <br>
        <h3 style="">The Ultimate Visitor’s Guide to Eating in NYC.</h3>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light rounded">
        Please sign in or make an account to access this search engine! Search below either by Borough or Cuisine. Happy exploring!
    </p>

    <% if (1 == 1) {%>  
        <form method="post" action="/restaurants/byBorough" style="margin-top: 50px;">
            Show Restaurants by Borough: 
              <input type="text" name="borough" 
                     placeholder="e.g. Queens">
            <input type="submit">
        </form>
        <br>
        <form class = "form" method="post" action="/restaurants/byCuisine" style="margin-bottom: 200px;">
             Show Restaurants by Cuisine: 
            <input type="text" name="cuisine" 
                   placeholder="e.g. Italian">
            <input type="submit">
        </form>
    <% } %>


